<span>
    <button class="btn btn-default" ng-disabled="playDisabled" ng-show="showPlay" ng-click="clickPlay();"><i class="fa fa-play"></i></button>
    <button class="btn btn-default" ng-disabled="pauseDisabled" ng-show="showPause" ng-click="clickPause();"><i class="fa fa-pause"></i></button>
    <button class="btn btn-default" ng-disabled="stopDisabled" ng-show="showStop" ng-click="clickStop();"><i class="fa fa-stop"></i></button>
    &nbsp;
    <button class="btn btn-default" ng-disabled="stepBwdDisabled" ng-show="showStepbackward" ng-click="clickStepbackward();"><i class="fa fa-step-backward"></i></button>
    <button class="btn btn-default" ng-disabled="fastBwdDisabled" ng-show="showFastbackward" ng-click="clickFastbackward();"><i class="fa fa-fast-backward"></i></button>
    <button class="btn btn-default" ng-disabled="bwdDisabled" ng-show="showBackward" ng-click="clickBackward();"><i class="fa fa-backward"></i></button>
    <button class="btn btn-default" ng-disabled="fwdDisabled" ng-show="showForward" ng-click="clickForward();"><i class="fa fa-forward"></i></button>
    <button class="btn btn-default" ng-disabled="fastFwdDisabled" ng-show="showFastforward" ng-click="clickFastforward();"><i class="fa fa-fast-forward"></i></button>
    <button class="btn btn-default" ng-disabled="stepFwdDisabled" ng-show="showStepforward" ng-click="clickStepforward();"><i class="fa fa-step-forward"></i></button>
</span>