<div class="container-fluid" style="width: 100%; height: 100%; margin: 0px; padding: 0px;">
    <div class="row" style="width: 100%; height:100%; margin: 0px;">
        <div class="col-md-6" style="padding: 0px;">
            <input-date ng-model="dateModel" placeholder="{{placeholderDate}}"></input-date>
        </div>
        <div class="col-md-6" style="padding: 0px;">
            <input-time ng-model="timeModel" placeholder="{{placeholderTime}}"></input-time>
        </div>
    </div>
</div>
