<div class="panel panel-default panel-info" style="margin: 0;"> 
    <div class="panel-heading">
        <toggle-btn enabled="panelVisible"></toggle-btn>
        <span ng-show="!selected">Trackinfo</span>

        &nbsp;<img src="/flags/blank.png" data-toggle="tooltip" title="{{countryName}}" class="{{getFlagClass(selected.country)}}" alt="{{selected.country}}" />
        &nbsp; {{selected.name}} 
        &nbsp; {{selected.trackId}}
        &nbsp; 
        <span ng-show="selected">
            <a href="#" ng-show="!editable" ng-click="editable = true"><i class="fa fa-edit"></i></a> 
            <a href="#" ng-show="editable" ng-click="editable = false"><i class="fa fa-close"></i></a>
        </span>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    </div>
    <div ng-show="panelVisible && selected" ng-init="panelVisible = true;" class="panel-body" style="padding: 0px;">

        <div class="panel panel-default" style="margin: 0px;">
            <div class="panel-heading" style="padding-top: 0px; padding-bottom: 0px; padding-left: 30px;">
                <toggle-btn enabled="panel1Visible"></toggle-btn>
                Dynamic data
            </div>
            <div ng-show="panel1Visible" ng-init="panel1Visible = true;" class="panel-body" style="padding: 0px;">
                <table class="table table-striped table-bordered" style="padding: 0px; margin: 0px;">
                    <tr ng-show='selected !== undefined'>
                        <td style="width: 150px;">TrackId:</td>
                        <td>{{selected.trackId}}&nbsp;<a href="#" ng-click="filterByMMSI()"><i class="fa fa-filter" aria-hidden="true"></a></i></td>
                    </tr>
                    <tr ng-show='selected.firstctc !== undefined'>
                        <td>First contact:</td>
                        <td>{{cvtTime(selected.firstctc)}}</td>
                    </tr>
                    <tr ng-show='selected.lastctc !== undefined'>
                        <td>Last contact:</td>
                        <td>{{cvtTime(selected.lastctc)}}</td>
                    </tr>
                    <tr ng-show='selected.lat !== undefined && selected.lon !== undefined'>
                        <td>Position:&nbsp;&nbsp;<a href="#" ng-click="recenter()"><i class="fa fa-crosshairs" style="font-size: 24px;vertical-align: middle;"></i></a></td>
                        <td>
                            {{cvtPosition(selected.lat, selected.lon)}} 
                            <br>
                            {{cvtLatitudeToDegMinSec(selected.lat)}}&nbsp;&nbsp;{{cvtLongitudeToDegMinSec(selected.lon)}}
                        </td>
                    </tr>
                    <tr ng-show='selected.lat !== undefined && selected.lon !== undefined'>
                        <td>Route:</td>
                        <td>
                            <a class="label label-primary" target="_blank" href="/track/history/{{selected.trackId}}/route.json">json</a>
                            <a class="label label-primary" target="_blank" href="/track/history/{{selected.trackId}}/route.gpx">gpx</a>
                            <a class="label label-primary" target="_blank" href="/track/history/{{selected.trackId}}/route.geojson">geojson</a>
                        </td>
                    </tr>
                    <tr ng-show='selected.heading !== undefined'>
                        <td>Heading:</td>
                        <td><input-unit editable="editable" ng-model="selected.heading" unit="{{units.direction.unit}}" unit-factor="units.direction.unitFactor" min="0" step="0.01"></input-unit></td>
                    </tr>
                    <tr ng-show='selected.course !== undefined'>
                        <td>Course:</td>
                        <td><input-unit editable="editable" ng-model="selected.course" unit="{{units.direction.unit}}" unit-factor="units.direction.unitFactor" min="0" step="0.01"></input-unit></td>
                    </tr>
                    <tr ng-show='selected.rot !== undefined'>
                        <td>Rate of turn:</td>
                        <td><input-unit editable="editable" ng-model="selected.rot" unit="{{units.turnrate.unit}}" unit-factor="units.turnrate.unitFactor" min="0" step="0.01"></input-unit></td>
                    </tr>
                    <tr ng-show='selected.speed !== undefined'>
                        <td>Speed:</td>
                        <td><input-unit editable="editable" ng-model="selected.speed" unit="{{units.speed.unit}}" unit-factor="units.speed.unitFactor" min="0" step="0.1"></input-unit></td>
                    </tr>
                    <tr ng-show='selected.utcTime !== undefined'>
                        <td>UTC Time:</td>
                        <td>{{selected.utcTime}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="panel panel-default" style="margin: 0px;">
            <div class="panel-heading" style="padding-top: 0px; padding-bottom: 0px; padding-left: 30px;">
                <toggle-btn enabled="panel2Visible"></toggle-btn>
                Voyage data
            </div>
            <div ng-show="panel2Visible" ng-init="panel2Visible = false;" class="panel-body" style="padding: 0px;">
                <table class="table table-striped table-bordered" style="padding: 0px; margin: 0px;">
                    <tr ng-show='selected.dest !== undefined'>
                        <td style="width: 150px;">Destination:</td>
                        <td><input-text editable="editable" ng-model="selected.dest"></input-text></td>
                    </tr>
                    <tr ng-show='selected.cargo !== undefined'>
                        <td>Cargo:</td>
                        <td>{{selected.cargoname}}</td>
                    </tr>
                    <tr ng-show='selected.draught !== undefined'>
                        <td>Draught:</td>
                        <td><input-unit editable="editable" ng-model="selected.draught" unit="{{units.depth.unit}}" unit-factor="units.depth.unitFactor" min="0" step="0.1"></input-unit></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="panel panel-default" style="margin: 0px;">
            <div class="panel-heading" style="padding-top: 0px; padding-bottom: 0px; padding-left: 30px;">
                <toggle-btn enabled="panel3Visible"></toggle-btn>
                Static data
            </div>
            <div ng-show="panel3Visible" ng-init="panel3Visible = false;" class="panel-body" style="padding: 0px;">
                <table class="table table-striped table-bordered" style="padding: 0px; margin: 0px;">
                    <tr ng-show='selected.name !== undefined'>
                        <td style="width: 150px;">Name:</td>
                        <td><input-text editable="editable" ng-model="selected.name"></input-text></td>
                    </tr>
                    <tr ng-show='selected.callsign !== undefined'>
                        <td>Callsign:</td>
                        <td><input-text editable="editable" ng-model="selected.callsign"></input-text></td>
                    </tr>
                    <tr ng-show='selected.imo !== undefined'>
                        <td>IMO:</td>
                        <td><input-number editable="editable" ng-model="selected.imo"></input-number></td>
                    </tr>
                    <tr ng-show='selected.objlength !== undefined'>
                        <td>Length:</td>
                        <td>
                    <input-unit editable="editable" ng-model="selected.objlength" unit="{{units.length.unit}}" unit-factor="units.length.unitFactor" min="0" step="0.1"></input-unit>
                    </td>
                    </tr>
                    <tr ng-show='selected.objbeam !== undefined'>
                        <td>Beam:</td>
                        <td>
                    <input-unit editable="editable" ng-model="selected.objbeam" unit="{{units.length.unit}}" unit-factor="units.length.unitFactor" min="0" step="0.1"></input-unit>
                    </td>
                    </tr>
                    <tr ng-show='selected.type !== undefined'>
                        <td>Type:</td>
                        <td>{{cvtType(selected.type)}}</td>
                    </tr>
                    <tr ng-show='selected.navdev !== undefined'>
                        <td>Nav.-device:</td>
                        <td>{{selected.navdev}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="panel panel-default" style="margin: 0px;">
            <div class="panel-heading" style="padding-top: 0px; padding-bottom: 0px; padding-left: 30px;">
                <toggle-btn enabled="panel4Visible"></toggle-btn>
                Photos
            </div>
            <div ng-show="panel4Visible" ng-init="panel4Visible = false;" class="panel-body" style="padding: 0px;">
                <photo-list selected="selected" editable="editable"></photo-list>
            </div>
        </div>

        <div class="panel panel-default" style="margin: 0px;">
            <div class="panel-heading" style="padding-top: 0px; padding-bottom: 0px; padding-left: 30px;">
                <toggle-btn enabled="panel5Visible"></toggle-btn>
                Search the web
            </div>
            <div ng-show="panel5Visible" ng-init="panel5Visible = false;" class="panel-body" style="padding: 0px;">
                <div ng-show="selected.trackId !== undefined" class="well well-sm" style="margin: 0;">
                    <a target="_blank" ng-href="http://www.marinetraffic.com/en/ais/details/ships/mmsi:{{selected.trackId}}">MarineTraffic.com</a>
                </div>
                <div ng-show="selected.trackId !== undefined" class="well well-sm" style="margin: 0;">
                    <a target="_blank" ng-href="https://www.vesseltracker.com/de/SearchResults.html?search={{selected.trackId}}">VesselTracker.com</a>
                </div>
            </div>
        </div>
    </div>
</div>