<div class="panel panel-default panel-info" style="margin: 0;"> 
    <div class="panel-heading">
        <toggle-btn enabled="panelVisible"></toggle-btn>Track filter&nbsp;<a href="#" ng-click="clearAllFilter()"><i class="fa fa-remove" aria-hidden="true"></i></a>
    </div>
    <div ng-show="panelVisible" class="panel-body" style="padding: 0px;">

        <table class="table table-striped table-bordered" style="padding: 0px; margin: 0px;">
            <tr>
                <td style="width: 150px;"><span>TrackId:</span></td>
                <td>
                    <input id="trackIdList" class="form-control" ng-model="trackFilter.trackIdList" type="text"></input-text>
                </td>
            </tr>
            <tr>
                <td style="width: 150px;"><span>Name:</span></td>
                <td>
            <input-text editable="true" ng-model="trackFilter.trackName"></input-text>
            </td>
            </tr>
            <tr>
                <td style="width: 150px;"><span>Destination:</span></td>
                <td>
            <input-text editable="true" ng-model="trackFilter.destination"></input-text>
            </td>
            </tr>
            <tr>
                <td style="width: 150px;"><span>Speed:</span></td>
                <td>
                    <div class="row" style="margin: 0px;">
                        <div class="col-md-3" style="height:100%; padding: 0px;">
                            <select-operation ng-model="trackFilter.speed.op"></select-operation>
                        </div>
                        <div class="col-md-9" style="height:100%; padding: 0px;">
                            <input-unit editable="true" ng-model="trackFilter.speed.value" unit="{{units.speed.unit}}" unit-factor="units.speed.unitFactor" width="'75%'" min="0" step="0.1"></input-unit>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 150px;"><span>Draught:</span></td>
                <td>
                    <div class="row" style="margin: 0px;">
                        <div class="col-md-3" style="height:100%; padding: 0px;">
                            <select-operation ng-model="trackFilter.draught.op"></select-operation>
                        </div>
                        <div class="col-md-9" style="height:100%; padding: 0px;">
                            <input-unit editable="true" ng-model="trackFilter.draught.value" unit="{{units.depth.unit}}" unit-factor="units.depth.unitFactor" min="0" step="0.1"></input-unit>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 150px;"><span>Length:</span></td>
                <td>
                    <div class="row" style="margin: 0px;">
                        <div class="col-md-3" style="height:100%; padding: 0px;">
                            <select-operation ng-model="trackFilter.length.op"></select-operation>
                        </div>
                        <div class="col-md-9" style="height:100%; padding: 0px;">
                            <input-unit editable="true" ng-model="trackFilter.length.value" unit="{{units.length.unit}}" unit-factor="units.length.unitFactor" min="0" step="1.0"></input-unit>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 150px;"><span>Beam:</span></td>
                <td>
                    <div class="row" style="margin: 0px;">
                        <div class="col-md-3" style="height:100%; padding: 0px;">
                            <select-operation ng-model="trackFilter.beam.op"></select-operation>
                        </div>
                        <div class="col-md-9" style="height:100%; padding: 0px;">
                            <input-unit editable="true" ng-model="trackFilter.beam.value" unit="{{units.length.unit}}" unit-factor="units.length.unitFactor" min="0" step="1.0"></input-unit>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>
